* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-dark-900: #334050;
  --gray-dark-800: #3d4c5c;

  --text-dark: #353e49;
  --text-light: #d0d2d2;

  --green: #00dda2;
  --blue: #0085dd;
  --red: #dd0000;

  --white-900: #ffffff;
  --whith-300: #f2f3f4;

  --color-card-label: #bfbfcc;
  --color-secondary: #6f6df0;
}

// font-size: 16px (Descktop)
html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15xp
  }
  @media (max-width: 720px) {
    font-size: 87.5%; // 14xp
  }
}

body {
  background: var(--background-light);
  -webkit-font-smooth: antialiased;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
