.containerCard {
  display: grid;
  max-width: 1120px;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: -5rem auto 0 auto;
}

.card {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  color: var(--with);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  strong {
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
  }

  &.income {
    color: var(--text-dark);
    //border: 1px solid var(--blue);
    background: #fff;
  }

  &.outcome {
    color: var(--text-dark);
    //border: 1px solid var(--red);
    background: #fff;
  }

  &.wallet {
    color: var(--text-dark);
    //border-bottom: 4px solid var(--green);
    background: #c4faec;
  }
}
